body {
  background: url('bg2.png');
  background-repeat: no-repeat;
  background-size: 100% 380%;
}

#heading {
  position: absolute;
  top: 20%;
  left: 34%;
  right: 34%;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 76px;
  color: #424242;
}

#heading4 {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 30%;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 47px;
  text-align: center;
  color: #424242;
}

#input1 {
  position: absolute;
  width: 60%;
  height: 40px;
  left: 20%;
  right: 20%;
  top: 40%;
  border: 2px solid #424242;
  box-sizing: border-box;
}

#submit1 {
  position: absolute;
  width: 6.5%;
  height: 40px;
  left: 74%;
  right: 26%;
  top: 39%;
  border: 2px solid #424242;
  box-sizing: border-box;
  background-color: transparent;
}

#heading42 {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 42%;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 47px;
}

#input2 {
  position: absolute;
  width: 60%;
  height: 40px;
  left: 20%;
  right: 20%;
  top: 51%;
  border: 2px solid #424242;
  box-sizing: border-box;
}

#submit2 {
  position: absolute;
  width: 6.5%;
  height: 40px;
  left: 74%;
  right: 26%;
  top: 50%;
  border: 2px solid #424242;
  box-sizing: border-box;
  background-color: transparent;
}
