<!DOCTYPE html>
<html>
  <head>
    <title>
      Let's Do Some Tech!
    </title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />
    <script src="./script.js"></script>
  </head>
  <body>
    <center>
    <h1 id = "heading">Welcome to QuickSesh!</h1>
    <h4 id = "heading4">Need some folks to study with? Join an existing study session below:</h4>
    <ul>
      {% for i in obj: %}
      <li><a data-title="Awesome Button" href = https://letsdosome.tech/join?title={{ obj[i] }}>{{obj[i]}}</a></li>
      {% endfor %}
    </ul>
    <h4 id = "heading42">Create a new study session here!</h4>
    <form method = "post" action = "{{ url_for("index")}}">
      <input type = "text" name = "title" placeholder = "Topic/Name" id = "input1"></input>
      <button id = "submit1">Join</button>
    </form>
    <form method = "post" action = "{{ url_for("index")}}">
      <input type = "text" name = "title" placeholder = "Topic/Name" id = "input2"></input>
      <button id = "submit2">Create</button>
    </form>
    </center>
  </body>
</html>