<!DOCTYPE html>
<html>
  <head>
    <title>
      QuickSesh!
    </title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet"> 
    <script type="text/javascript" src="static/fancy.js">
    </script>
  </head>
  <body>
    <div id="lightdark" onclick="myFunction()"></div>
    <center>
    <h1 id = "heading"><b>Welcome to QuickSesh!</b></h1>
    <h4 id = "heading4">Need some folks to study with? Join an existing study session below:</h4>
    <h4 id = "heading42">Create a new study session here!</h4>
    <form method = "post" action = "{{ url_for("index")}}">
      <input type = "text" name = "title" placeholder = "Topic/Name" id = "input1" list = "browsers" autocomplete="off"></input>
      <datalist id="browsers">
        {% for i in obj: %}
        {% if obj[i]!= "": %}
        <a href = https://letsdosome.tech/join?title={{ obj[i] }}><option value="{{obj[i]}}"></a>
        {% endif %}
        {% endfor %}
      </datalist>
      <button id = "submit1">join</button>
    </form>
    <form method = "post" action = "{{ url_for("index")}}">
      <input type = "text" name = "title" placeholder = "Topic/Name" id = "input2"></input>
      <button id = "submit2">create</button>
    </form>
    </center>
  </body>
</html>
